<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="video.anytype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
	
	
    <application
        android:icon="@drawable/anytype"
        android:label="AnyType - Video" >
        <activity
            android:name=".LoadActivity"
            android:label="AnyType - Video" 
            android:screenOrientation="landscape" 
            android:theme="@android:style/Theme.NoTitleBar">
            
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".LoadFontActivity"
            android:screenOrientation="landscape" >
        </activity>
        
         <activity
            android:name=".EditActivity"
            android:screenOrientation="landscape" >
        </activity>
        
        
        
        <activity
            android:name="CanvasTextureActivity"
            android:screenOrientation="landscape">
             
        </activity>
        
        <activity
            android:name=".ViewCaptureActivity"
            android:screenOrientation="landscape">
             
        </activity>
                      
        
         <activity
            android:name=".CanvasActivity"
            android:screenOrientation="landscape" >
        </activity>
        
         <activity
            android:name=".VideoViewCaptureActivity"
            android:screenOrientation="landscape">
             
        </activity>
        
          <activity
            android:name=".VideoCaptureActivity"
            android:screenOrientation="landscape" >
        </activity>
        
           <activity
            android:name=".VideoPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        
           <activity
            android:name=".LetterVideoPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
               
        
    </application>

</manifest>